body {
  background-color: #357266;
}

h1, h2 {
  color: #C5C533;
  font-family: 'Trirong', serif;
}

h3 {
  font-family: 'Trirong', serif;
}

button {
  font-size: 1.3em;
  color: #C5C533;
  background-color: #357266;
  border-radius: 4px;
  border: solid #C5C533;
  padding: 3px 20px 3px 20px;
}

label {
  margin-top: 10px;
}

.header {
  background-color: #0e3b43;
  height: 200px;
  width: 100%;
  text-align: center;
}

.mealList {
  margin-left: 20px;
}

.addEditDiv {
  position: absolute;
  top: 310;
  left: 550;
}

.addEditHeadline {
  color: #C5C533;
  background-color: #0e3b43;
  padding-bottom: 20px;
}

.addEditButton {
  margin-top: 10px;
}

#title {
  padding-top: 50px;
  padding-bottom: 20px;
}

#filterBy {
  margin-top: 20px;
  margin-left: 150px;
}

#Select {
  background-color: #C5C533;
  margin-left: 150px;
  margin-bottom: 20px;
}
