body {
  background-color: #357266;
}

h1, h2 {
  color: #808000;
}

button {
  color: #ffffff;
  background-color: #0e3b43;
  border-radius: 4px;
  border: solid #808000;
}

.header {
  background-color: #0e3b43;
  height: 200px;
  width: 100%;
  text-align: center;
}

#title {
  padding-top: 50px;
  padding-bottom: 20px;
}

#filterBy {
  margin-top: 20px;
}

#Select {
  background-color: red;
}
